{% extends "layouts/base.html" %}
{% block content %}
<div id="contact">
    <div class="container">
        <div class="intro">
            <h2 style="padding-top: 30px;">SEARCH&nbsp; PRODUCTS</h2>
            <p style="padding-bottom: 0px;margin-bottom: 0px;">Search for orders by REWARDS</p>
        </div>
<form method="get" action="/acceptSubmit">
    <div class="mb-3">
            <select name="Searchorders" value="{{ Searchorders }}" class="form-select" id="Searchorders">
                <option value="1" name="1">1</option>
                <option value="2" name="2">2</option>
                <option value="3" name="3">3</option>
                <option value="4" name="1">4</option>
                <option value="5" name="5">5</option>
            </select>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted">
                        <button class="btn btn-success btn-send" value="Submit" type="submit" style="margin: 0px;">Submit</button>
                    </p>
                </div>
            </div>
    </div>
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endwith %}

{% endblock content %}