{% extends "layouts/base.html" %}

{% block content %}
    <!-- Step 1 - Include the fusioncharts core library -->
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <!-- Step 2 - Include the fusion theme -->
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.gammel.js"></script>
    <script>
        var importedData =JSON.parse({{acceptances | tojson | safe}})

        const dataSource = {
            chart: {
                caption: " total number of acceptances groups by months ",
                xaxisname: "month",
                yaxisname: " number of  acceptances",
                numbersuffix: "K",
                theme: "gammel"
            },
            data:importedData
        };
  
        FusionCharts.ready(function() {
            var myChart = new FusionCharts({
                type: "column2d",
                renderAt: "chart-container",
                width: "60%",
                height: "100%",
                dataFormat: "json",
                dataSource
            }).render();
        });
    </script>
    <div class="text-center p-4 p-lg-5">
        <div id="chart-container"></div>
    </div>

{% endblock content %}  