{% extends "layouts/base.html" %}
{% block content %}
        <div class="intro">
            <h1 style="padding-top: 30px;">Confirm&nbsp; Your Payment</h1>
        </div>
<form method="post" action="/confirmsubmit">
    <table>
        <tr>
            <td>
                <div class="messages"></div>
                <div class="controls">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <div class="help-block with-errors"></div>
                                <label for="Payment-ID">Payment ID:</label></td>
                                <td>{{ pid }}</td>
        </tr>
        <tr>
            <td>
                <div class="messages"></div>
                <div class="controls">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <div class="help-block with-errors"></div>
                                <label for="Amount">Amount:</label></td>
                                <td>{{ amountpayee }}</td>
        </tr>
    </table>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-3">
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <div>
        <input type="hidden" name="pid" value="{{ pid }}">
        <input type="hidden" name="amountpayee" value="{{ amountpayee }}">
        <button type="submit" name="submit" style="margin: 0px;">Submit</button>
    </div>
</div>
</form>

<form method="post" action="/cancelPayment">
    <div>
        <input type="hidden" name="pid" value="{{ pid }}">
        <button type="submit" name="submit" style="margin: 0px;">Cancel</button>
    </div>
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endwith %}
{% endblock content %}