{% extends "layouts/base.html" %}
{% block content %}
<h1>Confirm Payment</h1>
<form method="post" action="/confirmsubmit">
    <table>
        <tr>
            <td><label for="Payment-ID">Payment ID:</label></td>
            <td>{{ pid }}</td>
        </tr>
        <tr>
            <td><label for="Amount">Amount:</label></td>
            <td>{{ amountpayee }}</td>
        </tr>
    </table>
    <div>
        <button type="submit" name="submit">Submit</button>
    </div>
</form>
<br>
<form method="post" action="/cancelPayment">
    <div>
        <input type="hidden" name="pid" value="{{ pid }}">
        <button type="submit" name="cancel">Cancel</button>
    </div>
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endwith %}
{% endblock content %}
</body>
</html>
