{% extends "layouts/base.html" %}
{% block content %}
h1>Confirm Payment</h1>
<form method="post" action="/confirmsubmit">
    <table>
        <tr>
            <td><label for="Payment-ID">Payment ID:</label></td>
            <td>{{ request.form.get('Payment-ID', '/modifysubmit') }}</td>
        </tr>
        <tr>
            <td><label for="Amount">Amount:</label></td>
            <td>{{ request.form.get('Amount', '/modifysubmit') }}</td>
        </tr>
    </table>
    <div>
        <button type="submit" name="submit">Submit</button>
        <button type="submit" name="cancel">Cancel</button>
    </div>
</form>
    {% endblock content %}
</body>
</html>
