{% extends "layouts/base.html" %}
{% block title %} Data Center {% endblock title %} 
{% block content %}

    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="text-center p-4 p-lg-5">
                <p class="fw-bold text-primary mb-2">Data Center</p>
                <h1 class="fw-bold mb-4">Select the Kind of Data<br>You Would Like To Know</h1>
                <a href="/profile" class="btn btn-primary fs-5 me-2 py-2 px-4">User Profiles</a>
                <a href="/dataRequest" class="btn btn-primary fs-5 me-2 py-2 px-4">Requests</a>
                <a href="#" class="btn btn-primary fs-5 me-2 py-2 px-4">Acceptance</a>
                <a href="#" class="btn btn-primary fs-5 me-2 py-2 px-4">Payments</a>
            </div>
        </div>
    </section>

{% endblock content %}