{% extends "layouts/base.html" %}
{% block content %}
<form method="post" action="/graph">
    <label for="text">Select the month: </label>
    <select name="month" class="form-select">
        <option value="1" name="1">1</option>
        <option value="2" name="2">2</option>
        <option value="3" name="3">3</option>
        <option value="4" name="4">4</option>
        <option value="5" name="5">5</option>
        <option value="6" name="6">6</option>
    </select>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}