{%extends "layouts/base.html"%}

{%block content%}
rid, email, RequestTime, RequestContent, DeliveryTime
<h1>Hello World</h1>
<form method="post" action="/homesubmit">
    <div class="mb-3">
      <label for="exampleInputrid" class="form-label">Rid</label>
      <input type="number" name="rid" value="{{ rid }}" class="form-control" id="inputrid" aria-describedby="ridHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail" class="form-label">Product Name</label>
      <input type="text" name= "email" value="{{ email }}"class="form-control" id="inputEmail">
    </div>
    <div class="mb-3">
        <label for="exampleInputRequestTime" class="form-label">Request Time</label>
        <input type="number"  name="reqtime" value="{{ reqtime }}" class="form-control" id="inputRequestTime">
    </div>
    <div class="mb-3">
        <label for="exampleInputRequestContent" class="form-label">Request Content</label>
        <input type="text"  name="reqcontent" value="{{ reqcontent }}" class="form-control" id="inputRequestContent">
    </div>
    <div class="mb-3">
      <label for="exampleInputDeliveryTime" class="form-label">Delivery Time</label>
      <input type="number" step="0.0001" name="deltime" value="{{ deltime }}" class="form-control" id="inputDeliveryTime">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

{% endwith %}

{% endblock content%}