{% extends "layouts/base.html" %}

{% block title %} Home - My Request {% endblock title %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div id="contact">
    <div class="container">
        <div class="intro">
            <h2 style="padding-top: 30px;">place Your Order</h2>
            <p style="padding-bottom: 0px;margin-bottom: 0px;">and wait for someone to accept it!</p>
        </div>
        <form id="contact-form" action="/requestSubmit" method="post">
            <div class="messages"></div>
            <div class="controls">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3"><input class="form-control" type="text" id="form_name" data-error="Please check*" name="item" placeholder="Item" style="padding-right: 0px;">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3"><input class="form-control" type="text" id="form_lastname" data-error="Please check" name="address" placeholder="Address">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3"><input class="form-control" type="number" id="form_email" data-error="Vorname erforderlich." name="budget" placeholder="Item Budget">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3"><input class="form-control" type="number" id="form_phone" data-error="Telefonnummer erforderlich" name="reward" placeholder="Reward">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3"><input class="form-control" type="text" id="form_message" data-error="Nachricht erforderlich." rows="4" name="phone" placeholder="Phone number for Contact">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3"><input class="form-control" type="datetime" id="form_time" data-error="Nachricht erforderlich." rows="4" name="time" placeholder="Delivery Time">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-12"><button class="btn btn-success btn-send" value="Senden" type="submit">Send</button></div>
            </div>
            <br>
        </form>

    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  
  {% endwith %}

</div>
{% endblock content %}
