{% extends "layouts/base.html" %}
{% block title %} My Request {% endblock title %} 

{% block content %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 style="width: 343px;">My Requests</h2>
                </div>
                <div id="placeholder"></div>
            </div>
        </div>
    </div>

    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="80%">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Item</th>
                <th>Address</th>
                <th>Budget</th>
                <th>Reward</th>
                <th>Delivry Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
    
    {% if requests %}
    {% for req in requests %}
    <tr>
        <form method="post" action="/reqDelete">
        <td>{{ req['rid'] }}</td>
        <td>{{ req['RequestContent'] }}</td>
        <td>{{ req['Address'] }}</td>
        <td>{{ req['Budget'] }}</td>
        <td>{{ req['Reward'] }}</td>
        <td>{{ req['DeliveryTime'] }}</td>
        <td>
            <input type="hidden" name="rid" value="{{ req['rid'] }}">
            <button type="submit" class="btn btn-danger">Delete</button>
        </td>
        </form>
    </tr>
    {% endfor %}
    {% endif %}
    
    </tbody>
    </table></div>
    </div>
    </div>
    </div>

{% endblock content %}