{% extends "layouts/base.html" %}
{% block title %} Payment Success {% endblock title %} 
{% block content %}
    <div id="contact">
        <div class="container">
            <div class="intro">
                <h1 style="padding-top: 30px;">Your Order has successfully payed!</h2>
                <p style="padding-bottom: 0px;margin-bottom: 0px;">Please check your payment in Payments</p>
            </div>
            <form id="contact-form" >
                <div class="messages"></div>
                <div class="controls"></div>
            </form>
            <br>
        </div>
    </div>
{% endblock content %}