{% extends "layouts/base.html" %}
{% block content %}
                        <form id="contact-form" action="/modifysubmit"  method="post">
                            <div class="messages"></div>
                           
                            </div>
                            <div class="row">
                                <div class="col-md-6"><input class="form-control" type="number" id="Payment-ID" data-error="Telefonnummer erforderlich" name="Payment-ID" placeholder="Payment ID">
                                    <div class="form-group mb-3">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                     <input class="form-control" type="number" id="Amount" data-error="Telefonnummer erforderlich." name="Amount" placeholder="Amount">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-3">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p class="text-muted">
                                        <button class="btn btn-success btn-send" value="Submit" type="submit" style="margin: 0px;">Submit</button>
                                        <strong>*</strong> Pflicht
                                        <button class="btn btn-primary" alue="Submit" type="button" style="width: 100px;" onclick="clearForm()">Cancel</button>
                                    </p>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
              <ul>
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
              </ul>
              {% endif %}
            
            {% endwith %}
            
            </body>
            </html>
            
            {% endblock content %}
